<!DOCTYPE html>
<meta charset="utf-8">
<link rel="shortcut icon" href="http://cdn.vacomall.com/web/v2/favicon.ico" type="image/x-icon">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
<title>万颗批发活动</title>
<link rel="stylesheet" href="/css/commen.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_lwaloingeaa1c3di.css">
<script type="text/javascript" src="http://www.vacomall.com//shop/static/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.vacomall.com//shop/static/default/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/js/commen.js"></script>