<!DOCTYPE html>
<div class="head">
  <div class="wrapper clearfix">
    <div class="head_left">
      <div id="login_top">
        <span>欢迎来万颗批发</span>
        <a href="http://pf.vacomall.com//index.php?ctl=Login&met=login">请登录</a>
        <a href="http://pf.vacomall.com//index.php?ctl=Login&met=reg">免费注册</a>
        <dl class="header_select_province">
          <dt><b class="iconfont icon-dingwei2"></b><span id="area">
                        甘肃</span></dt>
          <dd>
          </dd>
        </dl>
      </div>

    </div>
    <div class="head_right">
      <dl>
        <p></p>
        <dt><a href="http://pf.vacomall.com//index.php?ctl=Buyer_Order&met=physical">我的订单</a></dt>
        <dd class="rel_nav">
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Order&met=physical">实物订单</a>
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Order&met=virtual">虚拟订单</a>
        </dd>
      </dl>

      <dl>
        <p></p>
        <dt><a href="http://pay.vacomall.com/" target="_blank"><span class="iconfont icon-paycenter bbc_color"></span>paycenter</a></dt>
      </dl>


      <dl>
        <p></p>
        <dt><a href="http://pf.vacomall.com//index.php?ctl=Buyer_Favorites&met=favoritesGoods" target="_blank"><span class="iconfont icon-taoxinshi bbc_color"></span>我的收藏</a></dt>
        <dd class="rel_nav">
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Favorites&met=favoritesShop">店铺收藏</a>
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Favorites&met=favoritesGoods">商品收藏</a>
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Favorites&met=footprint">我的足迹</a>
        </dd>
      </dl>
      <dl>
        <p></p>
        <dt>
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Cart&met=cart"><span class="iconfont icon-zaiqigoumai bbc_color"></span>购物车</a>
        </dt>
      </dl>
      <dl>
        <p></p>
        <dt><a href="http://pf.vacomall.com//index.php?ctl=Buyer_Service_Custom&met=index" target="_blank">客服中心</a></dt>
        <dd class="rel_nav">
          <a href="http://pf.vacomall.com//index.php?ctl=Article_Base&met=index&article_id=2">帮助中心</a>
          <a href="http://pf.vacomall.com//index.php?ctl=Buyer_Service_Return&met=index">售后服务</a>
      </dl>
      <dl>
        <dt><span class="iconfont icon-shoujibangding bbc_color"></span><a href="#">手机版</a></dt>
        <dd class="rel_nav  phone-code">
          <img src="http://pf.vacomall.com//shop/api/qrcode.php?data=http%3A%2F%2Fmobile.vacomall.com%2F" width="150" height="150"/></dd>
      </dl>
    </div>
  </div>
</div>