<!DOCTYPE html>
<div class="main_box">
  <div class="main_wrap">
    <!--商品推荐-->
    <div class="content">
      <div class="tit_pic">
        <img src="images/num.png">
      </div>
      <div class="slideBox">
        <div class="banny bd">
          <ul class="banimg" style="background-image: url(http://act.vacomall.com/act/20171009/continue/img/buy.png)">
            <li>
              <a href="http://mobile.vacomall.com//tmpl/product_detail.html?goods_id=3517">
                <div class="box">
                  <div class="tit">美的多功能电饼铛JHN30F </div>
                  <div class="img_box">
                    <img src="http://act.vacomall.com/act/20171009/continue/img/o.png">
                  </div>
                  <div class="price">
                    <div class="point" style="color: #e60000;">￥</div>
                    <div class="now" style="color: #e60000;">99</div>
                    <span class="once" style="color: #afafaf;">￥109</span>
                  </div>
                </div>
              </a>
              <a href="http://mobile.vacomall.com//tmpl/product_detail.html?goods_id=3517" style="margin-left: 14px">
                <div class="box">
                  <div class="tit">美的多功能电饼铛JHN30F </div>
                  <div class="img_box">
                    <img src="http://act.vacomall.com/act/20171009/continue/img/o.png">
                  </div>
                  <div class="price">
                    <div class="point" style="color: #e60000;">￥</div>
                    <div class="now" style="color: #e60000;">99</div>
                    <span class="once" style="color: #afafaf;">￥109</span>
                  </div>
                </div>
              </a >
            </li>
            <li>
              <a href="http://mobile.vacomall.com//tmpl/product_detail.html?goods_id=3517">
                <div class="box">
                  <div class="tit">美的多功能电饼铛JHN30F </div>
                  <div class="img_box">
                    <img src="http://act.vacomall.com/act/20171009/continue/img/o.png">
                  </div>
                  <div class="price">
                    <div class="point" style="color: #e60000;">￥</div>
                    <div class="now" style="color: #e60000;">99</div>
                    <span class="once" style="color: #afafaf;">￥109</span>
                  </div>
                </div>
              </a>
              <a href="http://mobile.vacomall.com//tmpl/product_detail.html?goods_id=3517" style="margin-left: 14px">
                <div class="box">
                  <div class="tit">美的多功能电饼铛JHN30F </div>
                  <div class="img_box">
                    <img src="http://act.vacomall.com/act/20171009/continue/img/o.png">
                  </div>
                  <div class="price">
                    <div class="point" style="color: #e60000;">￥</div>
                    <div class="now" style="color: #e60000;">99</div>
                    <span class="once" style="color: #afafaf;">￥109</span>
                  </div>
                </div>
              </a >
            </li>
            <li>
              <a href="http://mobile.vacomall.com//tmpl/product_detail.html?goods_id=3517">
                <div class="box">
                  <div class="tit">美的多功能电饼铛JHN30F </div>
                  <div class="img_box">
                    <img src="http://act.vacomall.com/act/20171009/continue/img/o.png">
                  </div>
                  <div class="price">
                    <div class="point" style="color: #e60000;">￥</div>
                    <div class="now" style="color: #e60000;">99</div>
                    <span class="once" style="color: #afafaf;">￥109</span>
                  </div>
                </div>
              </a>
              <a href="http://mobile.vacomall.com//tmpl/product_detail.html?goods_id=3517" style="margin-left: 14px">
                <div class="box">
                  <div class="tit">美的多功能电饼铛JHN30F </div>
                  <div class="img_box">
                    <img src="http://act.vacomall.com/act/20171009/continue/img/o.png">
                  </div>
                  <div class="price">
                    <div class="point" style="color: #e60000;">￥</div>
                    <div class="now" style="color: #e60000;">99</div>
                    <span class="once" style="color: #afafaf;">￥109</span>
                  </div>
                </div>
              </a >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--热销单品-->
    <div class="goods">
      <div class="good_pic">
        <img src="images/num.png">
      </div>
      <div class="hot_box">
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
        <div class="goods goods_min" style="background: #fff;">
          <a href="http://pf.vacomall.com//index.php?ctl=Goods_Goods&met=goods&type=goods&gid=2781">
            <div class="kill" style="background-image: url(/images/kill.png);color: #ffffff;">限量秒杀</div>
            <div class="product">
              <div class="pro_box">
                <img src="http://act.vacomall.com/act/20171009/continue/img/11.png">
              </div>
            </div>
            <div class="detail">
              <div class="det_top">华为荣耀畅玩6X全网3+32G/4+32G/64G手机</div>
              <div class="det_bottom" style="color: #fc5076;">全网3+32G/4+32G/64G手机</div>
            </div>
            <div class="yello" style="background: #ff6c2b;color: #ffffff;">
              <div class="pri_tit" style="color: #ffffff;">活动价:</div>
              <div class="pri_point" style="color: #ffffff;">￥</div>
              <div class="pri_num" style="color: #ffffff;">1699</div>
              <a href="#" class="order" style="background: #fde211;color: #d17b00;">立即下单</a>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="botter">
    <div class="retu_img">
      <img src="http://act.vacomall.com/act/20171009/continue/img/return.png">
    </div>
  </div>
</div>